.whatsapp-icon {
    position: fixed;
    bottom: 80px; /* Adjust distance from the bottom */
    right: 20px; /* Adjust distance from the right */
    z-index: 1000; /* Ensure it's above other content */
    animation: zoomInOut 3s infinite ease-in-out; /* Apply continuous zooming animation */
  }
  
  @keyframes zoomInOut {
    0% {
      transform: scale(1); /* Initial size */
    }
    50% {
      transform: scale(1.1); /* Zoom in to 110% */
    }
    100% {
      transform: scale(1); /* Return to original size */
    }
  }
  
  .whatsapp-icon img {
    width: 50px; /* Set the width */
    height: 50px; /* Set the height */
    object-fit: contain; /* Ensures the icon maintains aspect ratio without stretching */
    transition: transform 0.2s ease-in-out, border-radius 0.3s ease; /* Smooth transition for transform and border-radius */
  }
  
  @keyframes zoomInOutImg {
    0% {
      transform: scale(1); /* Initial size */
    }
    50% {
      transform: scale(1.1); /* Zoom in to 110% */
    }
    100% {
      transform: scale(1); /* Return to original size */
    }
  }
  
  .whatsapp-icon img {
    animation: zoomInOutImg 3s infinite ease-in-out; /* Apply continuous zooming animation to the image */
  }
  
  